[submodule "Plugins/EventRouter"]
	path = Plugins/EventRouter
	url = https://github.com/UnrealPlugin/EventRouter
[submodule "Plugins/InteractionFramework"]
	path = Plugins/InteractionFramework
	url = https://github.com/UnrealPlugin/InteractionFramework
[submodule "Plugins/UIUtils"]
	path = Plugins/UIUtils
	url = https://github.com/UnrealPlugin/UIUtils
